{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block stylesheets %}
    <link  href="{{asset('build/css/login.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="form-container">
<form action="{{ path('app_login') }}" method="post">
<label for="username">Username:</label>
<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="username ..."/>
<label for="password">Password:</label>
<input type="password" id="password" name="_password" placeholder="********"/>
<button type="submit">login</button>
{% if error %}
<div class="login-error">{{ error.messageKey|trans(error.messageData, 'security') }} </div>
{% endif %}
</form>
</div>
{% endblock %}
