{% extends 'crud_base.html.twig' %}

{% block title %}New EditableHeadingContent{% endblock %}

{% block body %}
    <h1>Create new EditableHeadingContent</h1>

    {{ include('editable_heading_content/_form.html.twig') }}

    <a class="button" href="{{ path('app_editable_heading_content_index') }}">back to list</a>
{% endblock %}
